.wrapper {
  display: flex;
  justify-content: center;
  min-height: 85vh;
}
  
.search {
  width: 75%;
  min-height: 85vh;
}
  
.pagination {
  display: flex;
  justify-content: end;
  padding-top: 15px;
  position: inherit;
}
